# Java / Maven
backend/target/
backend/app.log
backend/data/
backend/settings.xml

# Frontend
frontend/node_modules/
frontend/dev.log
frontend/dist/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
